body {
    background-color: whitesmoke
}

h1 {
    text-align: center;
    color: rgb(185, 158, 3);
    text-shadow: 2px 2px 2px;
    font-size: 26pt;
}

span {
    color: rgb(185, 158, 3);
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span:hover {
    background-color: rgb(253, 230, 97);
}

hr {
    height: 2px;
    background-color: rgb(253, 230, 97)
}

img#cor {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    margin-top: 100px;
}